<h1>What We're Thinking</h1>

    <% @posts.each do |post| %>

      <div class="posts">
        <h2><%= post.title %></h2>
        <p><%= post.body %></p>
        <button><%= link_to 'Show', post %></button>
        <button><%= link_to 'Edit', edit_post_path(post) %></button>
        <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
      
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
